In [2]:
import pandas as pd

In [ ]:
census_race = pd.read_csv('../data/cc-est2022-all.csv', encoding="latin-1")
census_age = pd.read_csv('../data/cc-est2022-agesex-all.csv')
deaths = pd.read_csv('../data/Provisional_COVID-19_Deaths_by_County__and_Race_and_Hispanic_Origin_20240102.csv')
vaccinations = pd.read_csv('../data/COVID-19_Vaccinations_by_County.csv')
election = pd.read_csv('../data/2020_US_County_Level_Presidential_Results.csv')

population = pd.read_excel('../data/PopulationEstimates.xlsx')
education = pd.read_excel('../data/Education.xlsx')
unemployment = pd.read_excel('../data/Unemployment.xlsx')
poverty = pd.read_excel('../data/PovertyEstimates.xlsx')

In [36]:
deaths.head()

,Data as of,Start Date,End Date,State,County Name,Urban Rural Code,FIPS State,FIPS County,FIPS Code,Indicator,...,COVID-19 Deaths,Non-Hispanic White,Non-Hispanic Black,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Non-Hispanic Native Hawaiian or Other Pacific Islander,Hispanic,Other,Urban Rural Description,Footnote
0,09/27/2023,01/01/2020,09/23/2023,AK,Anchorage Municipality,3,2,20,2020,Distribution of all-cause deaths (%),...,787,0.568,0.044,0.216,0.058,0.030,0.033,0.050,Medium metro,NaN
1,09/27/2023,01/01/2020,09/23/2023,AK,Anchorage Municipality,3,2,20,2020,Distribution of COVID-19 deaths (%),...,787,0.452,0.037,0.255,0.111,0.074,0.038,0.033,Medium metro,NaN
2,09/27/2023,01/01/2020,09/23/2023,AK,Anchorage Municipality,3,2,20,2020,Distribution of population (%),...,787,0.564,0.052,0.083,0.098,0.031,0.095,0.077,Medium metro,NaN
3,09/27/2023,01/01/2020,09/23/2023,AK,Fairbanks North Star Borough,4,2,90,2090,Distribution of all-cause deaths (%),...,214,0.710,0.024,0.173,0.020,NaN,0.027,0.044,Small metro,One or more data cells have counts between 1-9...
4,09/27/2023,01/01/2020,09/23/2023,AK,Fairbanks North Star Borough,4,2,90,2090,Distribution of COVID-19 deaths (%),...,214,0.626,NaN,0.257,NaN,NaN,NaN,0.056,Small metro,One or more data cells have counts between 1-9...

## Connecticut Census Data Reconcilliation

Fairfield:
- White:
- Black:
- Amer Indian:
- AAPI



Hartford

## Deaths

In [34]:
deaths['Data as of'].value_counts()

09/27/2023    3687
Name: Data as of, dtype: int64

In [24]:
deaths.head()

,Data as of,Start Date,End Date,State,County Name,Urban Rural Code,FIPS State,FIPS County,FIPS Code,Indicator,...,COVID-19 Deaths,Non-Hispanic White,Non-Hispanic Black,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Non-Hispanic Native Hawaiian or Other Pacific Islander,Hispanic,Other,Urban Rural Description,Footnote
0,09/27/2023,01/01/2020,09/23/2023,AK,Anchorage Municipality,3,2,20,2020,Distribution of all-cause deaths (%),...,787,0.568,0.044,0.216,0.058,0.030,0.033,0.050,Medium metro,NaN
1,09/27/2023,01/01/2020,09/23/2023,AK,Anchorage Municipality,3,2,20,2020,Distribution of COVID-19 deaths (%),...,787,0.452,0.037,0.255,0.111,0.074,0.038,0.033,Medium metro,NaN
2,09/27/2023,01/01/2020,09/23/2023,AK,Anchorage Municipality,3,2,20,2020,Distribution of population (%),...,787,0.564,0.052,0.083,0.098,0.031,0.095,0.077,Medium metro,NaN
3,09/27/2023,01/01/2020,09/23/2023,AK,Fairbanks North Star Borough,4,2,90,2090,Distribution of all-cause deaths (%),...,214,0.710,0.024,0.173,0.020,NaN,0.027,0.044,Small metro,One or more data cells have counts between 1-9...
4,09/27/2023,01/01/2020,09/23/2023,AK,Fairbanks North Star Borough,4,2,90,2090,Distribution of COVID-19 deaths (%),...,214,0.626,NaN,0.257,NaN,NaN,NaN,0.056,Small metro,One or more data cells have counts between 1-9...

In [23]:
census.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,58802,28761,30041,...,854,734,112,97,40,30,22,24,19,11
1,50,1,1,Alabama,Autauga County,1,1,3443,1790,1653,...,83,54,14,9,3,1,9,1,3,1
2,50,1,1,Alabama,Autauga County,1,2,3613,1849,1764,...,81,68,5,8,7,3,0,1,1,2
3,50,1,1,Alabama,Autauga County,1,3,4131,2121,2010,...,81,81,10,10,1,3,2,2,2,1
4,50,1,1,Alabama,Autauga County,1,4,3963,2003,1960,...,72,70,8,9,5,2,2,4,3,2

In [19]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238944 entries, 0 to 238943
Data columns (total 80 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SUMLEV        238944 non-null  int64
 1   STATE         238944 non-null  int64
 2   COUNTY        238944 non-null  int64
 3   STNAME        238944 non-null  object
 4   CTYNAME       238944 non-null  object
 5   YEAR          238944 non-null  int64
 6   AGEGRP        238944 non-null  int64
 7   TOT_POP       238944 non-null  int64
 8   TOT_MALE      238944 non-null  int64
 9   TOT_FEMALE    238944 non-null  int64
 10  WA_MALE       238944 non-null  int64
 11  WA_FEMALE     238944 non-null  int64
 12  BA_MALE       238944 non-null  int64
 13  BA_FEMALE     238944 non-null  int64
 14  IA_MALE       238944 non-null  int64
 15  IA_FEMALE     238944 non-null  int64
 16  AA_MALE       238944 non-null  int64
 17  AA_FEMALE     238944 non-null  int64
 18  NA_MALE       238944 non-null  int64
 19  NA_FEMALE     238944 non-null  int64
 20  TOM_MALE      238944 non-null  int64
 21  TOM_FEMALE    238944 non-null  int64
 22  WAC_MALE      238944 non-null  int64
 23  WAC_FEMALE    238944 non-null  int64
 24  BAC_MALE      238944 non-null  int64
 25  BAC_FEMALE    238944 non-null  int64
 26  IAC_MALE      238944 non-null  int64
 27  IAC_FEMALE    238944 non-null  int64
 28  AAC_MALE      238944 non-null  int64
 29  AAC_FEMALE    238944 non-null  int64
 30  NAC_MALE      238944 non-null  int64
 31  NAC_FEMALE    238944 non-null  int64
 32  NH_MALE       238944 non-null  int64
 33  NH_FEMALE     238944 non-null  int64
 34  NHWA_MALE     238944 non-null  int64
 35  NHWA_FEMALE   238944 non-null  int64
 36  NHBA_MALE     238944 non-null  int64
 37  NHBA_FEMALE   238944 non-null  int64
 38  NHIA_MALE     238944 non-null  int64
 39  NHIA_FEMALE   238944 non-null  int64
 40  NHAA_MALE     238944 non-null  int64
 41  NHAA_FEMALE   238944 non-null  int64
 42  NHNA_MALE     238944 non-null  int64
 43  NHNA_FEMALE   238944 non-null  int64
 44  NHTOM_MALE    238944 non-null  int64
 45  NHTOM_FEMALE  238944 non-null  int64
 46  NHWAC_MALE    238944 non-null  int64
 47  NHWAC_FEMALE  238944 non-null  int64
 48  NHBAC_MALE    238944 non-null  int64
 49  NHBAC_FEMALE  238944 non-null  int64
 50  NHIAC_MALE    238944 non-null  int64
 51  NHIAC_FEMALE  238944 non-null  int64
 52  NHAAC_MALE    238944 non-null  int64
 53  NHAAC_FEMALE  238944 non-null  int64
 54  NHNAC_MALE    238944 non-null  int64
 55  NHNAC_FEMALE  238944 non-null  int64
 56  H_MALE        238944 non-null  int64
 57  H_FEMALE      238944 non-null  int64
 58  HWA_MALE      238944 non-null  int64
 59  HWA_FEMALE    238944 non-null  int64
 60  HBA_MALE      238944 non-null  int64
 61  HBA_FEMALE    238944 non-null  int64
 62  HIA_MALE      238944 non-null  int64
 63  HIA_FEMALE    238944 non-null  int64
 64  HAA_MALE      238944 non-null  int64
 65  HAA_FEMALE    238944 non-null  int64
 66  HNA_MALE      238944 non-null  int64
 67  HNA_FEMALE    238944 non-null  int64
 68  HTOM_MALE     238944 non-null  int64
 69  HTOM_FEMALE   238944 non-null  int64
 70  HWAC_MALE     238944 non-null  int64
 71  HWAC_FEMALE   238944 non-null  int64
 72  HBAC_MALE     238944 non-null  int64
 73  HBAC_FEMALE   238944 non-null  int64
 74  HIAC_MALE     238944 non-null  int64
 75  HIAC_FEMALE   238944 non-null  int64
 76  HAAC_MALE     238944 non-null  int64
 77  HAAC_FEMALE   238944 non-null  int64
 78  HNAC_MALE     238944 non-null  int64
 79  HNAC_FEMALE   238944 non-null  int64
dtypes: int64(78), object(2)
memory usage: 145.8+ MB

In [20]:
census.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,58802,28761,30041,...,854,734,112,97,40,30,22,24,19,11
1,50,1,1,Alabama,Autauga County,1,1,3443,1790,1653,...,83,54,14,9,3,1,9,1,3,1
2,50,1,1,Alabama,Autauga County,1,2,3613,1849,1764,...,81,68,5,8,7,3,0,1,1,2
3,50,1,1,Alabama,Autauga County,1,3,4131,2121,2010,...,81,81,10,10,1,3,2,2,2,1
4,50,1,1,Alabama,Autauga County,1,4,3963,2003,1960,...,72,70,8,9,5,2,2,4,3,2

In [17]:
election['county_fips'].value_counts()

47103    1
28021    1
47003    1
28017    1
31153    1
        ..
13303    1
17085    1
55041    1
17083    1
47105    1
Name: county_fips, Length: 3152, dtype: int64